#root {
  max-width: 100vw;
  padding: 2rem;
  margin: auto;
  text-align: center;
}

#app-grid {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.forms {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

#cv-heading {
  display: grid;;
  grid-template-rows: 1fr 1fr;
  padding: 0.5em;
  color: white;
  background-color: rgb(51, 51, 250);
}

#cv-heading > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#cv-job-heading, 
#cv-education-heading {
  background-color: gainsboro;
}

#personal-info input,
#edu-info  input,
#job-info input {
  background-color: gainsboro;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

#font-options,
#layout-options {
  display: flex;
  flex-direction: row;
  gap: 1rem
}

.layout {
  width: 3rem;
  height: 3rem;
  border: 0.1rem solid black;
  border-radius: 7px;
}

#color-input {
  border-style: none;
}

.hidden {
  display: none;
}

.serif {
  font-family: serif;
}

.sans-serif {
  font-family: sans-serif;
}

.monospace {
  font-family: monospace;
}